<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GluedInConfiguration</key>
	<dict>
		<key>API_KEY</key>
		<string>${API_KEY}</string>
		<key>ASSOCIATED_DOMAIN</key>
		<string>${ASSOCIATED_DOMAIN}</string>
		<key>BACK_ENABLE</key>
		<string>${BACK_ENABLE}</string>
		<key>DIRECT_MESSAGE_URL</key>
		<string>${DIRECT_MESSAGE_URL}</string>
		<key>DISABLE_DEFAULT_SHARE</key>
		<false/>
		<key>ENABLE_DEFAULT_PROFILE</key>
		<false/>
		<key>IS_AUTH_SKIP</key>
		<string>${isAuthSkip}</string>
		<key>IS_BOTTOM_BAR_ENABLE</key>
		<string>${isBottomBarEnable}</string>
		<key>IS_DEBUG_MODE</key>
		<true/>
		<key>IS_FOLLOW_ENABLE_ONFEED</key>
		<true/>
		<key>MINIMUM_VIEW_DURATION</key>
		<integer>3</integer>
		<key>PARENT_APP_ENABLE</key>
		<string>${PARENT_APP_ENABLE}</string>
		<key>SECRET_KEY</key>
		<string>${SECRET_KEY}</string>
		<key>SERVER_URL</key>
		<string>${SERVER_URL}</string>
		<key>TIME_TO_REFRESH_BANDWIDTH</key>
		<integer>60</integer>
		<key>VERTICAL_FEED</key>
		<string>${VERTICAL_FEED}</string>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
